BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignTrailingComments: true
IndentCaseLabels: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SortIncludes: true
IncludeBlocks: Preserve
DerivePointerAlignment: false
ReflowComments: true
